node_modules

# Output
.output
.vercel
/.svelte-kit
build/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


# Neutralinojs: from below

# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
/build

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
