{
  "$schema": "https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/semantic-release.json",
  "branches": [
    "main",
    {
      "name": "alpha",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": [
              "package.json",
              "src-tauri/tauri.conf.json"
            ],
            "from": "\"version\": \".*\"",
            "to": "\"version\": \"${nextRelease.version}\"",
            "results": [
              {
                "file": "package.json",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              },
              {
                "file": "src-tauri/tauri.conf.json",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          },
          {
            "files": [
              "src-tauri/Cargo.toml"
            ],
            "from": "^version = \".*\"",
            "to": "version = \"${nextRelease.version}\"",
            "results": [
              {
                "file": "src-tauri/Cargo.toml",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          }
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          "src-tauri/target/universal-apple-darwin/release/bundle/macos/Notepad.app",
          "src-tauri/target/universal-apple-darwin/release/bundle/dmg/Notepad_*_universal.dmg",
          "src-tauri/target/release/bundle/deb/notepad_*_amd64.deb",
          "src-tauri/target/release/bundle/rpm/notepad-*-1.x86_64.rpm",
          "src-tauri/target/release/bundle/msi/Notepad_*_x64_en-US.msi",
          "src-tauri/target/release/bundle/nsis/Notepad_*_x64-setup.exe"
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md",
          "src-tauri/tauri.conf.json",
          "src-tauri/Cargo.toml"
        ]
      }
    ]
  ],
  "dryRun": false
}
