#text-area,
.text-area {
  width: 100%;
  height: 87vh;
  background-color: var(--bg-color);
  outline: none;
  border: none;
  resize: none;
  font-size: 1rem;
  padding: 4px 2px;

  @media only screen and (max-width: 767px) {
    height: 89vh;
  }
}

.line-number {
  p {
    font-size: 14px;
  }
}
