#alert-box-wrapper {
  position: fixed;
  z-index: 100;
  background-color: rgba(1, 1, 1, 0.4);
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .alert-box {
    max-width: 26rem;
    width: 22rem;
    min-height: 9rem;
    position: fixed;
    z-index: 101;
    background-color: var(--light-color);
    border: 1px var(--font-color) solid;
    box-shadow: 0px 4px 8px rgba(17, 17, 17, 0.5);
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.25px solid var(--font-color);
      font-size: 14px;

      p {
        font-size: 1.1rem;
        padding: 4px 8px;
      }

      .btn-cls {
        background-color: var(--btn-bg);
        border-radius: 0;
        width: 2.85rem;
        height: 2rem;
        outline: none;
        border: 0.25px solid rgba(17, 17, 17, 0.15);
        cursor: pointer;
      }

      .btn-cls:hover {
        background-color: var(--btn-bg-hover);
      }

      .btn-cls:hover {
        background-color: var(--btn-cls-bg-color);
      }

      .btn-cls:active:focus {
        background-color: var(--btn-active-bg-color);
      }
    }

    .alert-body {
      flex: 1;
      overflow-y: scroll;
      max-height: 98vh;

      p {
        padding: 12px;
      }
    }

    .alert-footer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 12px;
      font-size: 14px;
      font-family: "Lucida Console";
      font-style: normal;

      button {
        padding: 0.4rem 0.5rem;
        width: 5rem;
        border-radius: 0;
        outline: 0;
        border: 2px var(--border-color) solid;
        background-color: var(--btn-bg-color);
        cursor: pointer;
      }

      button:hover {
        background-color: var(--btn-hover-bg-color);
      }

      button:active:focus {
        background-color: var(--btn-active-bg-color);
      }
    }
  }
}
