@font-face {
  font-family: 'SUSE';
  src: url('../../assets/fonts/SUSE-VariableFont.ttf');
}

@font-face {
  font-family: 'Baloo 2';
  src: url('../../assets/fonts/Baloo2-VariableFont.ttf');
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('../../assets/fonts/BricolageGrotesque-VariableFont.ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('../../assets/fonts/Lora-VariableFont.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../../assets/fonts/RobotoSlab-VariableFont.ttf');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../../assets/fonts/Inconsolata-VariableFont.ttf');
}

@font-face {
  font-family: 'Parkinsans';
  src: url('../../assets/fonts/Parkinsans-VariableFont.ttf');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../assets/fonts/JetBrainsMono[wght].ttf');
}
