@font-face {
  font-family: 'SUSE';
  src: url('@assets/fonts/SUSE-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Baloo 2';
  src: url('@assets/fonts/Baloo2-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('@assets/fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('@assets/fonts/Lora-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('@assets/fonts/RobotoSlab-VariableFont_wght.ttf');
}
