/* 

Themes can be crafted from:-
- Theme generator: https://oxidus.vercel.app/ -- https://github.com/JairHuamanBellido/Oxidus
- Color Palettes: https://colorhunt.co/palettes/pastel
- Darken color: https://mdigi.tools/darken-color/
- Lighten color: https://mdigi.tools/lighten-color/
- Name that color: https://chir.ag/projects/name-that-color/


Maybe Helpful:-
- https://shadesigner.com/
- https://shadcn.rlabs.art/generate
- https://shadcn-themes-eight.vercel.app/
- https://uicolorful.com/

*/

/* HOW THEMES ARE CREATED:
 - Go to https://colorhunt.co/palettes. And pick one palette.
 - There will be 4 colors stacked. In there, the bottom color
   is primary and top color is background.
 - Now go to: https://oxidus.vercel.app/, manually identify that
   the palette is more like light or dark. Then select this on website
   (top right icon button). After that select the primary 
   color from [colorhunt] in 'pick you color' color input. 
 - Now appropriately add other colors, use the below technique:
   - Background: top one.
   - Primary: bottom one.
   - Card: take one appropriate from the palette.
   - Popover: same as the [Card].
   - Secondary: choose a lighter color of primary color.
   - Muted: convert [Popover] color to light (30%) version from 
     here: https://mdigi.tools/lighten-color/
   - Accent: convert [Background] color to light (30%) version from 
     here: https://mdigi.tools/lighten-color/
 - Copy the css variables code from the website, remember to
   pick the mode of your theme as that you are previously manually
   selected at the beginning.
*/
:root {
  --radius: var(--theme-roundness);
}

[data-theme-preset='light'] {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
}

[data-theme-preset='dark'] {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
}

[data-theme-preset='pixie'] {
  --background: 112.94 30.36% 78.04%;
  --foreground: 264 17.24% 5.69%;
  --primary: 265.38 23.64% 56.86%;
  --primary-foreground: 270 27.27% 95.69%;
  --card: 50.53 61.29% 93.92%;
  --card-foreground: 264 17.24% 5.69%;
  --popover: 50.53 61.29% 93.92%;
  --popover-foreground: 264 17.24% 5.69%;
  --secondary: 120 16.05% 84.12%;
  --secondary-foreground: 0 0% 0%;
  --muted: 51.43 63.64% 95.69%;
  --muted-foreground: 0 0% 0%;
  --accent: 113.33 30.34% 82.55%;
  --accent-foreground: 262.5 18.18% 8.63%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 264 22.73% 91.37%;
  --input: 265.71 7.69% 82.16%;
  --ring: 265.38 23.64% 56.86%;
}
