/* 

Themes can be crafted from:-
- Theme generator: https://oxidus.vercel.app/ -- https://github.com/JairHuamanBellido/Oxidus
- Color Palettes: https://colorhunt.co/palettes/pastel
- Darken color: https://mdigi.tools/darken-color/
- Lighten color: https://mdigi.tools/lighten-color/
- Name that color: https://chir.ag/projects/name-that-color/


Maybe Helpful:-
- https://shadesigner.com/
- https://shadcn.rlabs.art/generate
- https://shadcn-themes-eight.vercel.app/
- https://uicolorful.com/

*/

:root {
  --radius: var(--theme-roundness);
}

[data-theme-preset='light'] {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
}

[data-theme-preset='dark'] {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
}

[data-theme-preset='pastel'] {
  --background: 112.94 30.36% 78.04%;
  --foreground: 79.09 22% 19.61%;
  --primary: 78.62 40.85% 86.08%;
  --primary-foreground: 79.09 22% 19.61%;
  --card: 90 33.33% 98.82%;
  --card-foreground: 105 10% 7.84%;
  --popover: 50.53 61.29% 93.92%;
  --popover-foreground: 105 10% 7.84%;
  --secondary: 265.38 23.64% 56.86%;
  --secondary-foreground: 0 0% 0%;
  --muted: 120 27.27% 97.84%;
  --muted-foreground: 0 0% 40%;
  --accent: 120 27.27% 97.84%;
  --accent-foreground: 108 8.47% 11.57%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 111.43 30.43% 95.49%;
  --input: 105 5.13% 84.71%;
  --ring: 112.94 30.36% 78.04%;
}
