#title-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  box-shadow: var(--primary-color) 0px 2px 8px;
  z-index: 78;
  position: relative;
  font-size: 14px;

  .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    .title {
      font-size: 1rem;
    }

    img {
      margin-right: 4px;
    }
  }

  .btn-section {
    .btn {
      background-color: var(--btn-bg-color);
      border-radius: 0;
      width: 2.85rem;
      height: 100%;
      outline: none;
      border: 0.25px solid rgba(17, 17, 17, 0.035);
      cursor: pointer;
    }

    .btn:hover {
      background-color: var(--btn-hover-bg-color);
    }

    .btn-cls:hover {
      background-color: var(--btn-cls-bg-color);
    }

    .btn:active:focus {
      background-color: var(--btn-active-bg-color);
    }
  }
}

@media only screen and (max-width: 767px) {
  #title-bar {
    .title-section {
      .title {
        font-size: 0.85rem;
      }
    }

    .btn-section {
      .btn {
        width: 2.15rem;
      }
    }
  }
}
