#menu-bar {
  box-shadow: 0px 0.5px 2px var(--box-shadow-color);
  z-index: 68;
  position: relative;
  background-color: var(--bg-color);
  font-size: 14px;

  .dropdown {
    position: relative;
    display: inline-block;

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: var(--bg-color);
      min-width: 200px;
      box-shadow: 0px 2px 12px 0px var(--box-shadow-color);
      z-index: 88;
    }

    .menu-btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.9rem;

      kbd {
        font-size: 0.56rem;
      }
    }
  }
}

.btn {
  padding: 0.45rem;
  border: transparent 0;
  width: 4rem;
  background-color: transparent;
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--btn-hover-bg-color);
}

.btn:active:focus {
  background-color: var(--btn-active-bg-color);
}

hr {
  background-color: var(--secondary-color);
  height: 0.8px;
  border: none;
}

.scroll-btns {
  height: 6rem;
  overflow-y: scroll;
  border: #111 solid 1px;
}

.blue-border {
  border: 2px dodgerblue solid;
}

#preview-font-change {
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

.change-font-body {
  font-size: 14px;
  font-family: "Lucida Console";
  font-style: normal;
}
