@import url("http://fonts.cdnfonts.com/css/lucida-console");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", monospace, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif !important;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #272727;
}
