@import url("http://fonts.cdnfonts.com/css/lucida-console");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
