* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.window {
  height: 100vh;
}

.window-body {
  padding: 0 !important;
  height: 95vh;
}
